<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Title-->
    <title>Justin Roiland Profile</title>
    <!--css links-->
    <link href="JR_style.css" rel="stylesheet">
    <!--Required JS resources-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--Favicon-->
</head>
<body>
<div id="app">
    <transition-group name="fade">
        <div v-if="mainsec === 'about'" id="about-image-container" class="bg-image-container" key="about-bg">
            <div class="image-cropper left">
                <img id="about-image-left" class="bg-image" src="JR_RandM_style_edit.jpg">
            </div>
            <div class="image-cropper right">
                <img id="about-image-right" class="bg-image" src="JR_RandM_style_edit.jpg">
            </div>
            <div class="bg-image-overlay"></div>
        </div>
        <div v-else-if="mainsec === 'tv' && subsec === 'rm'" id="rm-image-container" class="bg-image-container"
             key="rm-bg">
            <div class="image-cropper left">
                <img id="rm-image-left" class="bg-image" src="RandM_left.jpg">
            </div>
            <div class="image-cropper right">
                <img id="rm-image-right" class="bg-image" src="RandM_right.jpg">
            </div>
            <div class="bg-image-overlay"></div>
        </div>
        <div v-else-if="mainsec === 'tv' && subsec === 'so'" id="so-image-container" class="bg-image-container"
             key="so-bg">
            <div class="image-cropper left">
                <img id="so-image-left" class="bg-image" src="SO_edit.jpg">
            </div>
            <div class="image-cropper right">
                <img id="so-image-right" class="bg-image" src="SO_edit.jpg">
            </div>
            <div class="bg-image-overlay"></div>
        </div>
        <div v-else-if="mainsec === 'videogames' && subsec === 'vr'" id="vr-image-container" class="bg-image-container"
             key="vr-bg">
            <div class="image-cropper left">
                <img id="vr-image-left" class="bg-image" src="VR_edit.jpg">
            </div>
            <div class="image-cropper right">
                <img id="vr-image-right" class="bg-image" src="VR_edit.jpg">
            </div>
            <div class="bg-image-overlay"></div>
        </div>
        <div v-else-if="mainsec === 'videogames' && subsec === 'tstu'" id="tstu-image-container"
             class="bg-image-container"
             key="tstu-bg">
            <div class="image-cropper left">
                <img id="tstu-image-left" class="bg-image" src="TSTU_left.jpg">
            </div>
            <div class="image-cropper right">
                <img id="tstu-image-right" class="bg-image" src="TSTU_right.jpg">
            </div>
            <div class="bg-image-overlay"></div>
        </div>
        <div v-if="mainsec === 'about'" id="about" class="content-container" key="about">
            <div id="about-content" class="content">
                <div class="spacer2"></div>
                <div id="about-main" class="main">
                    <div class="title-container">
                        <img src="about_title.png">
                    </div>
                    <div class="main-row">
                        <div class="quote-container">
                            <figure>
                                <blockquote>
                                    <p>I'm just insane. So what usually drives me is pure joy for something stupid. I'm
                                        also very visual. I'll have an idea in my head that I really can't shake.</p>
                                </blockquote>
                                <figcaption>— Justin Roiland, <cite>Actor, Artist, Creator</cite></figcaption>
                            </figure>
                        </div>
                        <div class="pic-container">
                            <img src="about1.png">
                        </div>
                    </div>
                    <div class="main-row">
                        <div class="text-container">
                            <p>Mark Justin Roiland (born February 21, 1980) is an American voice actor, animator,
                                writer, producer, and director. He is best known as the co-creator of Adult Swim's Rick
                                and Morty and its subsequent franchise, on which he voices the show's title characters
                                and as the co-creator of Hulu's Solar Opposites, in which he voices the main character,
                                Korvo. He has also played Earl of Lemongrab on Adventure Time and Blendin Blandin on
                                Gravity Falls. He founded the animation studio Justin Roiland's Solo Vanity Card
                                Productions! and the video game studio Squanch Games.</p>
                        </div>
                    </div>
                    <div class="main-row">
                        <div class="video-container">
                            <iframe src="https://youtu.be/5fCLJqgViYQ">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="mainsec === 'tv' && subsec === 'rm'" id="rm" class="content-container" key="rm">
            <div id="rm-content" class="content">
                <div class="spacer2"></div>
                <div id="rm-main" class="main">
                    <div class="title-container">
                        <img src="rm_title.png">
                    </div>
                    <div class="main-row">
                        <div class="video-container">
                            <iframe src="https://youtu.be/fJ1np6NnMYU">
                            </iframe>
                        </div>
                    </div>
                    <div class="main-row">
                        <div class="quote-container">
                            <figure>
                                <blockquote>
                                    <p>I'll tell you how I feel about school, Jerry: it's a waste of time. Bunch of
                                        people runnin' around bumpin' into each other, got a guy up front says, '2 + 2,'
                                        and the people in the back say, '4.' Then the bell rings and they give you a
                                        carton of milk and a piece of paper that says you can go take a dump or
                                        somethin'. I mean, it's not a place for smart people, Jerry. I know that's not a
                                        popular opinion, but that's my two cents on the issue.</p>
                                </blockquote>
                                <figcaption>— Rick Sanchez, <cite>Scientist</cite></figcaption>
                            </figure>
                        </div>
                        <div class="text-container">
                            <p>Rick and Morty is an American adult animated science fiction sitcom created by Justin
                                Roiland and Dan Harmon for Cartoon Network's nighttime programming block, Adult Swim.
                                The series follows the misadventures of cynical mad scientist Rick Sanchez and his
                                good-hearted but fretful grandson Morty Smith, who split their time between domestic
                                life and interdimensional adventures.

                                Roiland voices the eponymous characters, with Chris Parnell, Spencer Grammer and Sarah
                                Chalke voicing the rest of Rick and Morty's family. The series originated from an
                                animated short parody film of Back to the Future, created by Roiland for Channel 101, a
                                short film festival co-founded by Harmon. The series has been acclaimed by critics for
                                its originality, creativity and humor. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="mainsec === 'tv' && subsec === 'so'" id="so" class="content-container" key="so">
            <div id="so-content" class="content">
                <div class="spacer2"></div>
                <div id="so-main" class="main">
                    <div class="title-container">
                        <img src="so_title.png">
                    </div>
                    <div class="main-row">
                        <div class="video-container">
                            <iframe src="https://youtu.be/UN7OH4d3CEw">
                            </iframe>
                        </div>
                    </div>
                    <div class="main-row">
                        <div class="text-container">
                            <p>Solar Opposites is an American adult animated sitcom created by Rick and Morty co-creator
                                Justin Roiland and Mike McMahan for Hulu. Originally created for the Fox Broadcasting
                                Company, the project was shelved, then bought by Hulu. The series debuted on May 8,
                                2020. The series was originally ordered as 2 seasons consisting of 8 episodes each.
                                In June 2020, the series was renewed for a third season consisting of 12 episodes.
                                The second season was released on March 26, 2021. In June 2021, the series was renewed
                                for a fourth season also consisting of 12 episodes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="mainsec === 'videogames' && subsec === 'vr'" id="vr" class="content-container" key="vr">
            <div id="vr-content" class="content">
                <div class="spacer2"></div>
                <div id="vr-main" class="main">
                    <div class="title-container">
                        <img src="vr_title.png">
                    </div>
                    <div class="main-row">
                        <div class="video-container">
                            <iframe src="https://youtu.be/VPpZl8BYp_M">
                            </iframe>
                        </div>
                    </div>
                    <div class="main-row">
                        <div class="text-container">
                            <p>Rick and Morty: Virtual Rick-ality is a virtual reality game compatible with HTC Vive,
                                PlayStation VR and Oculus Rift developed by Owlchemy Labs and published by Adult Swim
                                Games for Microsoft Windows on April 20, 2017. It is based on the American animated
                                series Rick and Morty, whose series co-creator Justin Roiland aided in the development.
                                A port for the PlayStation 4 was released on April 10, 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="mainsec === 'videogames' && subsec === 'tstu'" id="tstu" class="content-container" key="tstu">
            <div id="tstu-content" class="content">
                <div class="spacer2"></div>
                <div id="tstu-main" class="main">
                    <div class="title-container">
                        <img src="tstu_title.webp">
                    </div>
                    <div class="main-row">
                        <div class="video-container">
                            <iframe src="https://youtu.be/wJHNdcDip7s">
                            </iframe>
                        </div>
                    </div>
                    <div class="main-row">
                        <div class="text-container">
                            <p>Trover Saves the Universe is a 2019 action platform game developed by Squanch Games and
                                published by Gearbox Publishing for Microsoft Windows, PlayStation 4, Nintendo Switch,
                                Xbox One and Oculus Quest. Envisioned as a comedy game, the title features an optional
                                virtual reality component. Justin Roiland, who was the founder of Squanch Games and the
                                co-creator of Rick and Morty, provided voice work for many characters in this game. It
                                received generally positive reviews upon release. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition-group>
    <div id="banner-bg"></div>
    <div id="banner">
        <div id="logo-container">
            <img id="logo" src="JR_logo_4.png">
        </div>
        <div class="nav-button-container">
            <div class="main-button-container">
                <button class="main-button" @click="switchmain('about'); switchsub('nil');">
                    ABOUT
                </button>
            </div>
        </div>
        <div class="nav-button-container" @mouseenter="submenu[0]=true; updatenow()"
             @mouseleave="submenu[0]=false; updatenow()">
            <div class="main-button-container">
                <button class="main-button" @click="switchmain('tv'); switchsub('rm');">
                    TV SHOWS
                </button>
            </div>
            <transition name="fade">
                <div class="sub-button-container" v-if="submenu[0]">
                    <button class="sub-button" @click="switchmain('tv'); switchsub('rm');">
                        RICK & MORTY
                    </button>
                    <button class="sub-button" @click="switchmain('tv'); switchsub('so');">
                        SOLAR OPPOSITES
                    </button>
                    <div class="spacer1"></div>
                </div>
            </transition>
        </div>
        <div class="nav-button-container" @mouseenter="submenu[1]=true; updatenow()"
             @mouseleave="submenu[1]=false; updatenow()">
            <div class="main-button-container">
                <button class="main-button" @click="switchmain('videogames'); switchsub('vr');">
                    VIDEOGAMES
                </button>
            </div>
            <transition name="fade">
                <div class="sub-button-container" v-if="submenu[1]">
                    <button class="sub-button" @click="switchmain('videogames'); switchsub('vr');">
                        VIRTUAL RICK-ALITY
                    </button>
                    <button class="sub-button" @click="switchmain('videogames'); switchsub('tstu');">
                        TROVER SAVES THE UNIVERSE
                    </button>
                    <div class="spacer1"></div>
                </div>
            </transition>
        </div>
    </div>
</div>
</body>
<script src="JR_script.js"></script>
</html>